@{
    ViewBag.Title = "Contact";
}


<div class="container">
    <div class="jumbotron jumbotron-sm" style="background-color:#339966;margin-top:2%;color:white;">
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <h1 class="h2" style="margin-top:-2%">
                    Contact Us
                </h1>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="well">
                <h3 style="line-height:20%;"><i class="fa fa-home fa-1x" style="line-height:6%;color:#339966"></i> Address:</h3>
                <p style="margin-top:6%;line-height:35%">Leykos Pyrgos/Sallloooonica</p>
                <br />
                <br />
                <h3 style="line-height:20%;"><i class="fa fa-envelope fa-1x" style="line-height:6%;color:#339966"></i> E-Mail:</h3>
                <p style="margin-top:6%;line-height:35%">xalaraaaa@kardasia.com</p>
                <br />
                <br />
                <h3 style="line-height:20%;"><i class="fa fa-user fa-1x" style="line-height:6%;color:#339966"></i> Profile:</h3>
                <p style="margin-top:6%;line-height:35%">K@rDa$Ia</p>
                <br />
                <br />
                <h3 style="line-height:20%;"><i class="fa fa-yelp fa-1x" style="line-height:6%;color:#339966"></i> Customer Service Center:</h3>
                <p style="margin-top:6%;line-height:35%"><a href="kardasia.com/desktop">kardasia.com/desktop</a></p>
            </div>
        </div>
        <div class="col-sm-6">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3028.1565227296032!2d22.946237015054404!3d40.62642999359195!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14a839af2548cc69%3A0xef18309d80742d16!2zzpvOtc-FzrrPjM-CIM6gz43Pgc6zzr_PgiDPhM63z4IgzpjOtc-Dz4POsc67zr_Ovc6vzrrOt8-C!5e0!3m2!1sel!2sgr!4v1496844218834" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>
</div>
<link href="~/Content/map.css" rel="stylesheet" />
