
@{
    ViewBag.Title = "SendOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>SendOrder</h2>
<h2>Thanks for your order</h2>
<h2>Your invoice shall be sent at your account's email</h2>


@Html.ActionLink("Back to Home","Index")
