.slide-image {
    width :800px;
    height:300px;
    margin:auto;
    padding:0px;
    
}

.carousel-holder {
    margin-bottom: 30px;
    
}

.carousel-control,
.item {
    border-radius: 2px;
    background-color:ghostwhite;
}

.caption {
    height: 130px;
    overflow: hidden;
    
}

    .caption h4 {
        white-space: nowrap;
    }

.thumbnail img {
    width: 100%;
    
}

.ratings {
    padding-right: 10px;
    padding-left: 10px;
    color: #d17581;
}

.thumbnail {
    padding: 0;
}

    .thumbnail .caption-full {
        padding: 9px;
        color: #333;
    }
.carousel-inner > .item > img {
    width: auto;
    height: 300px;
    margin: auto;
    padding: initial;
}
.carousel-control{
    background-color:ghostwhite;
    color:wheat;
}
